body
{
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  justify-content: center;
  align-items: center;
  font-family: "Fuji Bold";
  color: var(--textColor);
  transition: all 0.4s ease;
}

/* .App{
    display: flex;
    align-items: center;
} */

.footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  color: var(--grey);
  margin-top: 40em;
  text-align: center;
  font-weight: 500;
}

.logoFooter
{
  display: flex;
  align-items: flex-end;
  width: 8%;
  margin-right: 2em;
}

.students
{
  font-weight: 800;
}

p{
  font-family: "Fuji Light";
}