:root
{
    --primaryColor: #5902FF;
    --textColor: #F7F6EC;
    --bgColor: #1C1C1C;
    --grey: #727272;
}


[data-theme="light"]
{
    --primaryColor: #5902FF;
    --textColor: #1C1C1C;
    --bgColor: #F7F6EC;
    --grey: #727272;
}

@font-face {
  font-family: "Fuji Bold";
  src: url("./assets/Fuji-Bold.otf");
 }

@font-face {
font-family: "Fuji Light";
src: url("./assets/Fuji-Light.otf");
}


body
{
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  justify-content: center;
  align-items: center;
  font-family: "Fuji Bold";
  color: var(--textColor);
  transition: all 0.4s ease;
}

.header
{
  margin-top: 2em;
  display: flex;
  width: 85vw;
  align-items: center;
}

.navbar_right
{
  display: flex;
  width: 90vw;
  justify-content: flex-end;
  align-items: center;
}

.logo
{
  display: flex;
  justify-content: flex-start;
}

.navbar
{
  display: flex;
  align-items: center;
}

.search
{
  display: flex;
  position: relative;
  margin-right: 13.5em;
  align-items: center;
}

.searchIcon
{
  z-index: 99;
  margin-left: 1em;
}

.prout
{
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 50px;
  outline: none;
  height: 4.5vh;
  width: 13vw;
  padding-left: 3.1em;
  color: #F7F6EC;
  font-family: "Fuji Light";
  font-size: larger;
}

.prout::placeholder
{
 color: #F7F6EC;
}

.colormode
{
  cursor: pointer;
  width: 43px;
  height: 43px;
}

.footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  color: var(--grey);
  margin-top: 40em;
  text-align: center;
  font-weight: 500;
}

.logoFooter
{
  display: flex;
  align-items: flex-end;
  width: 8%;
  margin-right: 2em;
}

.students
{
  font-weight: 800;
}

p{
  font-family: "Fuji Light";
}