:root
{
    --primaryColor: #5902FF;
    --textColor: #F7F6EC;
    --bgColor: #1C1C1C;
    --grey: #727272;
}

[data-theme="light"]
{
    --primaryColor: #5902FF;
    --textColor: #1C1C1C;
    --bgColor: #F7F6EC;
    --grey: #727272;
}

@font-face {
  font-family: "Fuji Bold";
  src: url("components/assets/Fuji-Bold.otf");
 }

@font-face {
    font-family: "Fuji Light";
    src: url("components/assets/Fuji-Light.otf");
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    position: relative;
}

body
{
    display: flex;
    justify-self: center;
    background-color: var(--bgColor);
    font-family: "Fuji Light";
}

/* header
{
    padding: 50px 15px 0px;
} */

header h1
{
    color: var(--primaryColor);
    font-size: 48px;
    text-align: center
}

/* main {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
} */

.searchbox-wrap{
    display: flex;
    justify-content: flex-end;
    transform:translateY(-63px);
    margin-left: 30em;
    position: fixed;
}

.searchbox{
    display: block;
    width: 100%;
    padding: 0.6em;
    margin-top: 1em;
    border: none;
    outline: none;
    background: none;
    background-color: var(--primaryColor);
    border-radius: 28px ;
    color: #F7F6EC;
    font-family: "Fuji Light";
    font-size: 18px;
    transition: 0.4s ease-out;
}

input::placeholder{
    color: #F7F6EC;
    font-family: "Fuji Light"

}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.result
{
    border-radius: 300px;
}

.results .result {
    min-width:250px;
    padding: 0.5em;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 7%;
    cursor: pointer;
}

.poster
{
    border-radius: 50px;
    width: 70%;
}
.results .result img{
    display: block;
    width: 100%
}

.results .result h3{
    color: var(--textColor);
    font-size: 20px;
    padding: 10px;
    background: #445565;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}

.results .result:hover h3{
    background: var(--textColor);
    color: #223343;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor);

    overflow-y: scroll;
}

.popup .content{
    display: block;
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 4em;
    color: var(--textColor);
}

.popup .content h2{
    font-size: 48px;
    font-family: "Fuji Bold";

}

.popup .content h2 span{
    font-size: 20px;
}

.popup .content .rating{
    margin-bottom: 26px;
}

.popup .content .author{
    margin-bottom: 10px;
}

.popup .content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
}

.popup .content .plot p{
    flex: 1 1 50%;
    padding: 15px;
}

.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: larger;
    font-family: "Fuji Light";
    background: var(--primaryColor);
    color: var(--textColor);
    border-radius: 30px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.4s ease-out;
    margin-left: 600px;
}

.popup .content .close:hover{
    background: #223343;
}

.contentFlex{
    display: flex;
    margin-top: 40px;
}

.info_content{
    margin-left: 30px;
}
.director{
    margin-bottom: 10px;
    font-size: 30px;
}

.year{
    margin-bottom: 10px;
    font-size: 30px;
}

.author{
    font-size: 30px;
}

.plot{
    padding-top: 10px;
    padding-left: 15px;
    width: 900px;
    font-size: 28px;
}

.affiche_film{
    height: 250px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 19px 39px -8px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 19px 39px -8px rgba(0,0,0,0.63);
    box-shadow: 0px 19px 39px -8px rgba(0,0,0,0.63);
}
