@font-face {font-family: "Fuji"; src: url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.eot"); src: url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.woff") format("woff"), url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/983372462b93da4c322cf0cec7cabcfe.svg#Fuji") format("svg"); }

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #1C1C1C;
    font-family:'Roboto Condensed', sans-serif;
}

header
{
    padding: 50px 15px 0px;
}

header h1
{
    color: #5927FF;
    font-size: 48px;
    font-weight: 400;
    text-align: center
}

main {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

.searchbox-wrap{
    display: flex;
    justify-content: flex-end;
    transform:translateY(-63px);
    margin-right: 200px;
}

.searchbox{
    display: block;
    width: 20%;
    padding: 15px;
    margin-right: 0%;
    border: none;
    outline: none;
    background: none;
    background-color:#5927FF ;
    border-radius: 28px ;
    color: #fff;
    font-family: Fuji;
    font-size: 18px;
    transition: 0.4s ease-out;
}

/* .searchbox:focus{
    box-shadow: 0px 0px 8px 3px #5927FF;
} */

input::placeholder{
    color: #FFFFFF;

}

.results{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.results .result {
    width: 16%;
    min-width:250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.results .result img{
    display: block;
    width: 100%
}

.results .result h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #445565;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}

.results .result:hover h3{
    background: #FFF;
    color: #223343;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1C1C1C;

    overflow-y: scroll;
}

.popup .content{
    display: block;
    width:100%;
    max-width: 960px;
    margin: 0 auto;

    color: #FFF;
}

.popup .content h2{
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}

.popup .content h2 span{
    font-weight: 300;
    font-size: 20px;
}

.popup .content .rating{
    margin-bottom: 10px;
}

.popup .content .author{
    margin-bottom: 10px;
}

.popup .content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
}

.popup .content .plot p{
    flex: 1 1 50%;
    padding: 15px;
}

.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 700;

    background: #5927FF;
    color: #FFF;
    border-radius: 30px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.4s ease-out;
    margin-left: 600px;
}

.popup .content .close:hover{
    background: #223343;
}

.contentFlex{
    display: flex;
    margin-top: 40px;
}

.info_content{
    margin: 30px;
}
.director{
    font-weight:600;
    margin-bottom: 10px;
}

.year{
    margin-bottom: 10px;
}

.author{
    font-weight: 400;
}

.plot{
    padding-top: 10px;
    font-weight: 400;
    padding-left: 15px;
    width:500px;
}

.affiche_film{
    height: 250px;
    border-radius: 30px;
}
